.atma-background {
    background-color: #ffdb26; 
}
mat-card {
    width: 400px;
    align-self: center;
}

button {
    margin: 10px;
}

img {
    margin: 10px;
}
span {
    margin-top: 10px;
    padding:10px;
    align-self: center;
}