.atma-danger {
    background-color: #d51317;
    color: white;
}

.vl {
    border-left: 5px solid #0c1D40;
    //box-shadow: 1px 1px #3575f58c;
    height: 220px;
}

.currentData {
    color: rgba(7, 126, 7, 0.931);
}

.previousData {
    color: rgba(129, 28, 28, 0.986);
}

.space {
    margin-left: 40px;
}
.btn-center {
    text-align: center;
}