
<div fxLayout="row" fxLayoutAlign="center center" class="">
    <div fxFlex.gt-sm="20%" class="center center mx-2">
        <ul nz-menu nzMode="vertical">
            <li nz-menu-item nzSelected>
                <i nz-icon nzType="mail"></i>
                RFI
            </li>
            <li nz-menu-item >
                <i nz-icon nzType="mail"></i>
                RFQ
            </li>
            <li nz-menu-item >
                <i nz-icon nzType="mail"></i>
                RFP
            </li>
        </ul>
    </div>
    <div fxFlex.gt-sm="75%" class="center center ma-2">
        csdc
    </div>
</div>