<div fxLayout="row wrap" fxLayoutAlign="space-between start"  *ngIf="transaction">
    <div fxFlex.gt-sm="33.33%">
        <mat-card>
            <mat-card-content>
                <h4 mat-subheader class="text-uppercase font-weight-bold" style="color: #14314f;"><mat-icon>show_chart</mat-icon>&nbsp;&nbsp;Transaction Details </h4>
           
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Transaction Status:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        
                        <app-success-label [labelValue]="transaction.TRANSACTIONRESPONSE"></app-success-label>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>ESB Transaction Reference Number:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.ESBREFID}}</code></p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Channel Reference Number:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.CHANNELREFID}}</code></p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Transaction Amount:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.TRANSACTIONAMOUNT | currency:"ZMW"}}</code></p>
                    </div>
                </div> 
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Transaction Narration:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.TRANSACTIONNARRATION}}</code></p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Receipt Number:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.THIRDPARTYREFID}}</code></p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Third Party Response Message:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.THIRDPARTYRESPONSEMESSAGE}}</code></p>
                    </div>
                </div>
                <div fxLayout="row">
                    <div fxFlex.gt-sm="50">
                        <p><b>Transaction Date:&nbsp; </b></p>
                    </div>
                    <div fxFlex.gt-sm="50">
                        <p><code> {{transaction.CREATED_ON}}</code></p>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="66.66%">
        <mat-card>
            <mat-card-content>
                <h4 mat-subheader class="text-uppercase font-weight-bold" style="color: #14314f;">ESB Related Information</h4>
                <hr>
                <nz-table [nzBordered]="false" #basicTable nzSize="small" [nzData]="transaction" [nzLoading]="loading" >
                    <thead>
                        <tr>
                            <th>ESB Reference No.</th>
                            <th>Channel Name</th>
                            <th>Service Name</th>
                            <th>Project Code</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td>{{transaction.ESBREFID}}</td>
                        <td>{{transaction.CHANNELNAME}}</td>
                        <td>{{transaction.SERVICENAME}}</td>
                        <td>{{transaction.PROJECTCODE}}</td>
                    </tbody>
                </nz-table>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <h4 mat-subheader class="text-uppercase font-weight-bold" style="color: #14314f;">Student and School Details</h4>
            </mat-card-content>
            <nz-table [nzBordered]="false" #basicTable nzSize="small" [nzData]="transaction" [nzLoading]="loading" >
                <thead>
                    <tr>
                        <th>School Name</th>
                        <th>School Code</th>
                        <th>Student Payment Code</th>
                        <th>Paid By</th>
                        <th>Phone Number</th>
                        <th>Student Name</th>
                        <th>Student Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{transaction.SCHOOLNAME}}</td>
                        <td>{{transaction.SCHOOLCODE}}</td>
                        <td>{{transaction.STUDENTPAYMENTCODE}}</td>
                        <td>{{transaction.PAIDBY}}</td>
                        <td>{{transaction.PAIDBYMOBILENUMBER}}</td>
                        <td>{{transaction.FIRSTNAME}}&nbsp;{{transaction.MIDDLENAME}}&nbsp;{{transaction.LASTNAME}}</td>
                        <td>{{transaction.GRADE}}</td>
                    </tr>
                </tbody>
            </nz-table>
        </mat-card>
    </div>
</div>
