span {
    font-size: 14px;
    color: grey;
}
.item {
    margin-top: 15px;
    font-size: 16px;
}
.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  nz-select {
      width: 80%;
  }