.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
  }

  .dynamic-delete-button:hover {
    color: #777;
  }

  .passenger-input {
    width: 60%;
    margin-right: 8px;
  }

  [nz-form] {
    max-width: 600px;
  }

  .add-button {
    width: 60%;
  }

  .remove-icon {
    margin-bottom: 3px;
    cursor: pointer;
  }

  .file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
}

.file-input label {
    display: block;
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(40deg, #4772ff, #2d8fff);
    box-shadow: 0 4px 7px rgba(0, 64, 138, 0.247);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: transform .2s ease-out;
}