<h3 style="text-align: center;" class="mt-2">SUPPLIER PROFILE</h3>  
<div fxLayout="row wrap" fxLayoutAlign="center"  class="ma-3 pa-1 main" nzCard >
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }" >
        <div>
            <h2>Miles Industries</h2> 
            <small>www.website.com</small> <br>
            <div class="item">location</div>
            <div class="item">ngugichweya</div>
            <div class="item">address</div>
            <div class="item">telephone</div>
            
            <span>
                <h2>Employees</h2>
                <small>234</small>
            </span>
        </div>
        <nz-divider nzType="vertical"></nz-divider>
    </div>
    
    <div nz-col [nzXs]="{ span: 11, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
        <div class="bCategory">
            <h2>Business Category </h2>
            <small>Government</small>
        </div>
        <div class="bSubCat">

            <h2>Business Sub Category</h2> 

            <small>Mining</small>
        </div>
    </div>
    <div nz-col [nzXs]="{ span: 5, offset: 1 }" [nzLg]="{ span: 6, offset: 2 }">
        <div class="mision">
            <h2>Mision Statement</h2>
            <small>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis 
                suscipit provident possimus qui expedita facilis maiores quo 
                pariatur? Ad ut cupiditate animi quaerat. Ullam 
            </small>
        </div>
        <div class="vision ">
            <h2>Vision Statement</h2> 
            <small>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Harum exercitationem error, corrupti molestias at pariatur 
                unde ratione earum distinctio odit repudiandae,</small>

        </div>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center"  >
    <button nz-button class="" nzType="primary">Reply </button>
</div> 
<div fxLayout="row" fxLayoutAlign="center" nzCard >
    <div class="note">
        We will share your profile with Miles Industries
    </div> 
</div> 

