<div fxLayout="row" fxLayoutAlign="end"  class="ma-3 mr-3 pr-3">
    <button nz-button class="" nzType="primary" (click)="addProducts()">
      <span>
        <mat-icon left>add</mat-icon>
        Add Item
      </span>
    </button>
  </div> 
  <div fxLayout="row" fxLayoutAlign="center"  class="ma-1 mr-3 pr-3">
    <nz-table #basicTable [nzData]="quoteItems"  nzSize="small"  [nzFrontPagination]="false" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="page" nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
    <thead style="font-weight: bold;">
      <tr>
        <th style="min-width: 200px;">Product Name</th>
        <th style="min-width: 200px;">Quantity</th>
        <th style="min-width: 200px;">Budget</th>
        <th style="min-width: 200px;">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data; index as i">
        <td>{{data.name}}</td>
        <td>
          {{ data.quantity}}
        </td>
        <td>
          {{data.budget}}
        </td>
        <td>
          {{data.quantity * data.budget}}
        </td>
        <td>
            <!-- <button nz-button nzSize="small"  nzType="link" (click)="viewSupplier()">Edit</button> -->
            <button nz-button nzSize="small"  nzType="link" (click)="removeItem(i)"> 
              <span  class="warning" style="color: red;">
                <mat-icon left>delete</mat-icon>
                Delete
            </span>
            </button>
        </td>
      </tr>
      <div fxLayout="row" fxLayoutAlign="end"  class="ma-1 mr-3 pr-3">
            Sub Total: 42000
      </div> 
      <div fxLayout="row" fxLayoutAlign="end"  class="ma-1 mr-3 pr-3">
            Grand Total: 42000
    </div> 
    </tbody>
  </nz-table>
</div>