.steps-content {
    margin-top: 16px;
    border: 1px dashed #e4e4e4;
    border-radius: 6px;
    background-color: #ffffff;
    min-height: 600px;
    padding-top: 10px; 
  }

  .header {
      max-width: 400px;
      justify-content: center;
  }

  .steps-action {
    margin: 24px;
    
  }

  button {
    margin-right: 8px;
  }