<div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="35px">
    <div fxFlex.gt-sm="40%" class="ma-1 pa-1">
        <img nz-image width="400px" height="320px" nzSrc="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" alt="" /> 
    </div>
    <div fxFlex.gt-sm="40%" class="ma-1 pa-1" >
        <h2 nz-typography nzType="secondary">Product Name Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus alias ab </h2>
        <h2>Ksh 1000</h2>
        <div class="tags ma-2">
            <nz-tag nzMode="checkable" [nzChecked]="true">Tag1</nz-tag>
            <nz-tag nzMode="checkable" [nzChecked]="true">Tag2</nz-tag>
            <nz-tag nzMode="checkable" [nzChecked]="true">Tag3</nz-tag>
        </div>
        <h2 nz-typography class="my-1">
            In-Stock:
            <nz-tag > 1200</nz-tag>
        </h2>
        <p class="muted-text">Description</p>
        <h4 class="description" nz-typography nzDisabled>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Et necessitatibus praesentium corrupti repellat pariatur in porro earum perferendis, iure voluptatem autem possimus commodi facere 
        </h4>
    </div>
</div>

