.thead-bold {
    font-weight: bold;
}
.btnRow {
    margin-bottom: 10px;
}

.atma-ssucess [nz-button] {
    background-color: gray;
}
.crop-square {
    vertical-align: middle;
    opacity: .2;
}
// nz-card {
//     margin-top: 5px;
//     box-shadow: 2px 2px 2px 1px #868484;
// }