<nz-card [nzBordered]="false" nzTitle="{{cardTitle}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
    <p *ngIf="errorMessage" class="text-danger">{{erroMessage}}</p>
    <p *ngIf="editEmailBool" class="text-danger">{{warningMessage}}</p>
    <form nz-form [formGroup]="form">
        <nz-form-item *ngIf="addEmail || editEmailBool">
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="subject">Subject</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <input nz-input formControlName="subject" id="subject" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="template">Message</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <quill-editor *ngIf="addEmail || editEmailBool" nz-input formControlName="template" id="template" class="content-editor" [placeholder]="''" [styles]="{'min-height': '120px'}" [modules]="toolbar"> </quill-editor>
                <textarea *ngIf="addSMS || data.editSmsBool" rows="7" cols="14" nz-input formControlName="template" id="template"></textarea>
            </nz-form-control>
            <!-- <nz-form-control  [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                
            </nz-form-control> -->
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <textarea rows="7" cols="14" nz-input formControlName="description" id="description"></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="templateType">Template Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <nz-select formControlName="templateType" nzPlaceHolder="Template Type" nzShowSearch>
                    <nz-option *ngFor="let type of availableTemplateTypes" nzLabel="{{type.templateType}}" nzValue="{{type.templateType}}">{{type.templateType}}</nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="isActive">Status</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <nz-select formControlName="isActive" nzPlaceHolder="Status">
                    <nz-option nzLabel="Active" nzValue="true">Active</nz-option>
                    <nz-option nzLabel="Disabled" nzValue="false">Disabled</nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<ng-template #extraTemplate>
    <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
</ng-template>
<ng-template #actionAdd>
    <button *ngIf="editEmailBool; else addTemp" nz-button nzType="primary" [nzLoading]="loading" (click)="editEmailTemplate()" [disabled]="!form.valid">Edit Email Template</button>
    <ng-template #addTemp>
        <button *ngIf="addEmail; else addSMS" nz-button nzType="primary" [nzLoading]="loading" [disabled]="!form.valid" (click)="addEmailTemplate()">Add Email Template</button>
        <ng-template #addSMS>
            <button *ngIf="addSMS && !data.editSmsBool; else editSMSDet" nz-button nzType="primary" (click)="submitData()" [nzLoading]="loading" [disabled]="!form.valid">Add SMS Template</button>
            <ng-template #editSMSDet>
                <button nz-button nzType="primary" (click)="editSMS()" [nzLoading]="loading" [disabled]="!form.valid">Edit SMS Template</button>
            </ng-template>
        </ng-template>
        
    </ng-template>
    
</ng-template>
