<nz-card [nzBordered]="true" nzTitle="Approve/Reject Action" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="remarks">Remarks</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <textarea rows="3" nz-input formControlName="remarks" id="remarks"></textarea>
              </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="approved">Approve</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <nz-select formControlName="approved" nz-placeholder="approve">
                    <nz-option nzLabel="Approve" nzValue="true">Approve</nz-option>
                    <nz-option nzLabel="Reject" nzValue="false">Reject</nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<ng-template #extraTemplate>
    <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
</ng-template>
<ng-template #actionAdd>
    <button nz-button nzType="primary" (click)="approveUser()" type="submit" [disabled]="!form.valid">Submit</button>
</ng-template>
