<div class="steps-content">
    <div fxFlex.gt-sm="100%" fxFlex.gt-xs="100%" fxFlex="100%" class="ma-2">
        <nz-card nzTitle="Questionnaire Categories" [nzExtra]="extraTemplate" nzSize="small" >
            <nz-table [nzBordered]="false" #basicTable nzSize="small" [nzData]="data" [nzLoading]="loading">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>CreatedOn</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of basicTable.data">
                        <td>{{data.name }}</td>
                        <td>{{data.createdOn }}</td>
                        <td>
                            <button nz-button nzSize="small"  
                            [matMenuTriggerFor]="menu" nzType="primary" nzGhost><mat-icon>settings</mat-icon>
                            Actions
                            </button>
                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <button mat-menu-item  title="Edit Category" aria-describedby="Edit Template" (click)="editCat(data)">
                                    <mat-icon>edit</mat-icon>Edit
                                </button>
                                <button mat-menu-item  title="Deactivate Category" aria-describedby="Edit Template" (click)="deleteCat(data)">
                                    <mat-icon>delete</mat-icon>Deactivate
                                </button>
                            </mat-menu>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </nz-card>
        <ng-template #extraTemplate>
            <button nz-button nzType="primary" (click)="triggerModal('')"><mat-icon></mat-icon>&nbsp;Add Category</button>
        </ng-template>
    </div>
</div>