<div fxLayout="row wrap" fxLayoutAlign="center center">
    <div fxFlex.gt-sm="90.00%" fxFlex.gt-xs="100.00%" fxFlex="100%">
      <nz-card  [nzBordered]="true" nzTitle="RFIs" nzSize="large">
        <nz-table #basicTable [nzData]="data" nzSize="small"  [nzFrontPagination]="false"[nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="page" nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
          <thead style="font-weight: bold;">
            <tr>
              <th>#</th>
              <th>Ref Number</th>
              <th>Title</th>
              <th>Category</th>
              <th>Sub Category</th>
              <th>no. of suppliers</th>
              <th>Start Date</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr  >
              <td>{{data.id}}</td>
              <td>{{data.rfiCode}}</td>
              <td>{{data.title | titlecase}}</td>
              <td>{{data.category}}</td>
              <td>{{data.subCategory | titlecase}}</td>
              <td>{{data.noOfSuppliers}}</td>
              <td>{{data.createdOn}}</td>
              <td>{{data.dueDate}}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
      
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="end"  class="ma-1 mr-3 pr-3">
  <!-- <button nz-button class="" nzType="primary">INVITE SUPPLIER</button> -->
</div> 

<div fxLayout="row wrap" fxLayoutAlign="center center" class="mt-3">
    <div fxFlex.gt-sm="90.00%" fxFlex.gt-xs="100.00%" fxFlex="100%">
      <nz-card  [nzBordered]="true" nzTitle="Suppliers" nzSize="large">
        <nz-table #supplierTable [nzData]="sets" nzSize="small"  [nzFrontPagination]="false"[nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="page" nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
          <thead style="font-weight: bold;">
            <tr>
              <th>#</th>
              <th>Supplier name</th>
              <th>location</th>
              <th>createdOn</th>
              <th>Delivery Time</th>
              <th>Bid Amount</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of supplierTable.data">
              <td>{{data.id}}</td>
              <td>{{data.name}}</td>
              <td>{{data.location | titlecase}}</td>
              <td>{{data.createdOn}}</td>
              <td>{{data.delivery | titlecase}}</td>
              <td>{{data.amount }}</td>
              <td>
                  <button nz-button nzSize="small"  nzType="link" (click)="toSupplierProfile()">
                    View Supplier
                  </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>
</div>
