<div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="35px">
    <div fxFlex.gt-sm="25%">
        <nz-card [nzCover]="coverTemplate" [nzActions]="[actionPassword, actionDeactivate]" class="ma-2 pa-1">
            <div fxLayout="row">
                <div fxFlex.gt-sm="30.00%"> 
                    <p>Full Name:</p>
                </div>
                <div fxFlex.gt-sm="80.00%">
                    <p>{{user.firstName}}&nbsp;{{user.middleName}}&nbsp;{{user.lastName}}</p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="30.00%">
                    <p>Email: </p>
                </div>
                <div fxFlex.gt-sm="80.00%">
                    <p style="word-wrap: break-word;">{{user.email}}</p>
                </div>
            </div>
            <div fxLayout="row">
                <div fxFlex.gt-sm="40.00%">
                    <p>Phone Number: </p>
                </div>
                <div fxFlex.gt-sm="60.00%">
                    <p>{{user.phoneNumber}}</p>
                </div>
            </div>
        </nz-card>
        <ng-template #coverTemplate class="ma-2">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <nz-avatar class="pa-2" [nzSize]="184" nzIcon="user"></nz-avatar>
            </div>
        </ng-template>
        <ng-template #actionPassword>
            <button *ngIf="blockValidated" (click)="forgotPassword(user)" nz-button nzType="primary" nzSize="small"  title="Reset User Password" aria-describedby="Reset User Password" nzGhost><mat-icon>backspace</mat-icon>&nbsp;Reset Password</button>&nbsp;
        </ng-template>
        <ng-template #actionDeactivate>
            <button nzShape="round" *ngIf="user.isBlocked && blockValidated; else blockUser" nz-button nzType="primary" nzSize="small" nzGhost title="Activate User" aria-describedby="Activate User" (click)="unBlockThisUser()"><mat-icon>done_outline</mat-icon>&nbsp;Unblock User</button>
            <ng-template #blockUser>
                <button *ngIf="blockValidated" (click)="blockThisUser()" nz-button nzType="primary" nzSize="small" title="Deactivate User" aria-describedby="Deactivate User" nzDanger nzGhost><mat-icon>block</mat-icon>&nbsp;Block User</button>
            </ng-template>
        </ng-template>
    </div>
    <div fxFlex.gt-sm="75%">
        <app-my-roles></app-my-roles>
    </div>
</div>

