<nz-card [nzBordered]="false" nzTitle="{{cardTitle}}" [nzExtra]="extraTemplate" [nzActions]="[actionAdd]">
    <p class="text-danger">{{errorMessage}}</p>
    <p *ngIf="editEmailBool" class="text-danger">{{warningMessage}}</p>
    <form nz-form [formGroup]="form">
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="template">Business Sub-Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <input rows="7" cols="14" nz-input formControlName="name" id="template"/>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="template">Business Type</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="This field is required">
                <nz-select [nzLoading]="loading" formControlName="id">
                    <nz-option *ngFor="let cat of businessTypes" [nzValue]="cat.id" [nzLabel]="cat.name" ></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-card>
<ng-template #extraTemplate>
    <button mat-mini-fab aria-label="close dialog" title="close dialog" class="atma-danger" (click)="close()"><mat-icon>close</mat-icon></button>
</ng-template>
<ng-template #actionAdd>
    <button nz-button nzType="primary" (click)="submitData()" [nzLoading]="loading" [disabled]="loading">Add Sub Type</button>
</ng-template>